:root{
    --header-top-height: 30px;
    --header-nav-height: 40px;
    --header-height: var(--header-nav-height) + var(--header-top-height);
    --text-color: #6e6d7a;
    --primary-color: #016735;
    --second-color: #CA965C;
    --third-color: #EEC373;
    --fourth-color: #F4DFBA;
}

* {
    box-sizing: inherit
}

html {
    box-sizing: border-box;
    font-family: "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

input[type="checkbox"]{
    display: none;
}

.btn{
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 555;
    line-height: 40px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--primary-color);
    margin-left: 13px;
    cursor: pointer;
}

.btn--no-margin{
    margin-left: 0;
}

.btn:hover{
    background-color: var(--second-color);
}

.separate{
    margin: 5px 0;
    border-top: 1px solid #e7e7e9;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

/* Box drop */
.box-drop {
    position: relative;
    z-index: 1;
}

.box-drop__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid #e7e7e9;
    border-radius: 8px;
}

.box-drop__btn ion-icon{
    font-size: 13px;
    color: var(--text-color);
    padding: 10px 16px 10px 8px;
}

.box-drop__btn:hover{
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.box-drop__text {
    font-size: 15px;
    color: var(--text-color);
    padding: 10px 16px;
}

.box-drop__menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 8px 0;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 0px 3px 5px rgb(0 0 0 / 4%);
    display: none;
}

.box-drop__item {
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 444;
    color: var(--text-color);
    cursor: pointer;
}

.box-drop__item:hover{
    background-color: #e7e7e9;
}

.box-drop__item--active {
    color: var(--primary-color);
}


@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

/* Show elements by scroll */

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all linear;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

/* Modal */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /*Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    display: none; /*Hide by default*/
    justify-content: space-between;
    align-items: center;
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    height: 80vh;
    vertical-align: middle;
    object-fit: cover;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
  }

  /* Arrow style */
  .arrow {
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  #arrow-left {
    /* border-width: 20px 30px 20px 0;
    border-color: transparent #fff transparent transparent; */
    left: 0;
    padding-left: 20px;
  }
    
  #arrow-right {
    /* border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent #fff; */
    right: 0;
    padding-right: 20px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }