/* HEADER */


.header {
    /* position: fixed; */
    z-index: 1;
    width: 100%;
    transition: top 0.3s;
    box-shadow: 0 0 10px #454545;
}

/* Header top */

.header-top {
    background-color: var(--primary-color);
    width: 100%;
    height: var(--header-top-height);
    display: flex;
    justify-content: center;
}

.header-top__menu-social {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 22px;
    height: 100%;
    width: 1100px;
}

.menu-social__icon {
    display: flex;
    margin: 0 10px;
}

.menu-social__link {
    color: #fff;
    opacity: 0.7;
    display: flex;
    align-items: center;
}

.menu-social__link:hover {
    opacity: 1;
}

/* Header navbar */

.header-nav {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: var(--header-nav-height);
    display: flex;
    justify-content: center;
}

.header-nav__wrap {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 1200px;
}

.header-nav__list {
    display: flex;
    align-items: center;
    width: 430px;
    justify-content: space-around;
}

.header-nav__list--left {

}

.header-nav__list--right {

}

.header-nav__item {
    position: relative;
    margin: 0 20px;
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav__item--active::after{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    bottom: 0;
    width: 100%;
    height: 5px;
}

.header-nav__item:hover:after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    bottom: 0;
    width: 100%;
    height: 5px;
}

.header-nav__item:hover {
    cursor: pointer;
}

.header-nav__link {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

/* Logo */
.logo-wrap {
    position: absolute;
    background-color: var(--primary-color);
    width: 160px;
    height: 160px;
    top: -62px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #9e7551;;
    z-index: 1;
    cursor: pointer;
    transition: top 0.3s;
    transition: opacity 0.3s;
    display: none;
}

.logo-img {
    width: 100px;
    height: 100px;
}

.logo-title {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 999;
    text-transform: uppercase;
    color: var(--primary-color);
}

/* Navbar2 */
.navbar-wrap {
    position: fixed;
    width: 100%;
    z-index: 11;
    background-color: var(--navbar-color);
    box-shadow: 0 0 20px var(--fourth-color);
    transition: all 0.1s linear;
    opacity: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-top-height);
}

.navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__item {
    display: flex;
    align-items: center;
}

.navbar__item a {
    color: #fff;
    display: inline-block;
    line-height: var(--header-top-height);
    font-size: 15px;
    padding: 0px 10px;
    transition: all 0.2s linear;
}

.navbar__item a:hover,
.navbar__item a.active {
    color: var(--text-color);
    background-color: var(--fourth-color);
}

.navbar__contact {
    display: flex;
}

/* Header2 */
.body {
    position: relative;
}

.header2 {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 10px;
}

.header2__link {

}

.header2__img {
    height: 100px;
    width: auto;
}

.header-navbar__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.header-navbar__item {
    position: relative;
    transition: all 0.3s linear;
}

.header-navbar__item a{
    color: #fff;
    font-size: 20px;
    font-weight: 444;
}

.header-navbar__item:hover {
    transform: scale(1.3);
}

/* .header-navbar__item:hover:after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
} */



/* SLIDE */

.mySlides {
    display: none;
}

.mySlides img {
    vertical-align: middle;
    object-fit: cover;
    height: 100vh;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
}

.slideshow-container::after {
    content: "";
    z-index: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 85%;
    background: linear-gradient(to top, transparent 0%, transparent 8.1%, rgba(0,0,0,0.01) 15.5%, rgba(0,0,0,0.03) 22.5%, rgba(0,0,0,0.05) 29%, rgba(0,0,0,0.08) 35.3%, rgba(0,0,0,0.11) 41.2%, rgba(0,0,0,0.14) 47.1%, rgba(0,0,0,0.16) 52.9%, rgba(0,0,0,0.19) 58.8%, rgba(0,0,0,0.22) 64.7%, rgba(0,0,0,0.25) 71%, rgba(0,0,0,0.27) 77.5%, rgba(0,0,0,0.29) 84.5%, rgba(0,0,0,0.3) 91.9%, rgba(0,0,0,0.3) 100%);;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slideshow-container__ticket {
    position: absolute;
    /* left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 75px);
    height: 130px;
    width: 800px;
    border-radius: 10px;
    background-color: var(--primary-color); */
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-container__ticket h1{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 50px;
    font-weight: 111;
    letter-spacing: 10px;
    text-transform: uppercase;
    border-bottom: 5px solid #fff;
}

/* Introduce */
.introduce-bg {
    width: 100%;
    height: 100%;
    background-image: url(../image/bg2.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.introduce-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../image/bg.png);
    background-position: right center;
    background-repeat: no-repeat;
}

.introduce {
    margin: 100px 0;
    width: 1200px;
}

.introduce__title {
    color: #454545;
    font-size: 30px;
    font-weight: 888;
    text-align: left;
    margin: 20px 0;
}

.introduce__title h1{
    margin: 0;
}

.introduce__location {

}

.introduce__location-link {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.introduce__location-link span {
    margin-left: 5px;
}

.introduce__location-address {
    font-size: 20px;
    color: #454545;
    margin: 40px 0;
}

.introduce__detail {
    background-color: #f8e293;
    border-radius: 15px;
}

.introduce__video {

}

.introduce__desc {
    font-size: 20px;
    padding: 20px 40px;
    color: #454545;
}

.introduce__desc-more {
    font-size: 20px;
    padding: 20px 0;
    color: #454545;
    text-decoration: underline;
    right: 0;
}

.introduce__desc-more:hover {
    color: var(--primary-color);
}

/* Architecture*/

.architecture {
    margin: 50px 0;
}

.architecture__introduce-wrap {
    display: flex;
    justify-content: center;
}

.architecture__introduce {  
    margin: 50px 0;
    text-align: center;
    max-width: 70%;
}

.architecture__introduce h1 {
    font-size: 40px;
    font-weight: 333;
    text-transform: capitalize;
}

.architecture__introduce p {
    font-size: 16px;
    font-weight: 333;
    color:#454545;
}

.architecture__room {
    width: 50%;
    margin-top: 35px; /*Style 2*/
}

/* Room style 1 */
.architecture__room img {
    object-fit: cover;
    width: 100%;
    height: 100%; /*Style 1: 60%*/
}

.architecture__room h5 {
    color: #3d3d3d;
    font-size: 13px;
    font-weight: 333;
    text-transform: uppercase;
}

.architecture__room h3 {
    color: #252525;
    font-size: 20px;
    text-transform: uppercase;
}

.architecture__room p {
    font-size: 18px;
    color: #252525;
}

.architecture__room a {
    color: #252525;
    font-size: 18px;
}

.architecture__room a:hover {
    text-decoration: underline;
}

/* Room style 2 */
.room__content {
    position: relative;
    display: flex;
    margin: 45px 0 0 35px;
    background-color: #f2f2f2;
    height: 200px;
    transition: transform 0.3s linear;
}

.room__content:hover {
    text-decoration: none !important;
    transform: translateY(-10px);
    cursor: pointer;
}

.room__content:hover .room__title {
    display: none;
}

.room__content:hover .room__desc {
    opacity: 1;
}

.room__image-wrap {
    flex: 1;
}

.room__image {
    margin-top: -25px;
    margin-left: -15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
}

.room__info {
    flex: 1;
    margin-right: 10px;
    overflow: hidden;
}

.room__title p{
    position: absolute;
    margin-top: 1.5em;
    font-size: 20px;
    color: var(--text-color);
}

.room__desc {
    opacity: 0;
    transition: opacity 0.1s ease;
}

.room__desc h6{
    font-size: 12px;
    font-weight: 333;
    margin: 1.5em 0 1em 0;
    color: var(--text-color);
}

.room__desc p {
    font-size: 15px;
    margin-bottom: 0;
    color: #454545;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 6; /* number of lines to show */
           line-clamp: 6; 
   -webkit-box-orient: vertical;
}

.room__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -10px;
    margin-bottom: -15px;
    padding: 10px 15px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 444;
    text-transform: uppercase;
    width: auto;
}

/* Services */
.services {
    background-image: url(../image/homepage-bg-3.png);
    background-repeat: no-repeat;
}

.services-header {
    display: flex;
    justify-content: center;
    background-size: contain;
}

.services-header-wrap {
    margin: 50px 0;
    text-align: center;
    max-width: 70%;
}

.services-header__title {
    font-size: 40px;
    font-weight: 333;
    text-transform: capitalize;
}

.services-header__desc {
    font-size: 16px;
    font-weight: 333;
    color:#454545;
}

.services-body {
    margin-bottom: 100px;
}

.services-item {
    height: 300px;
    transition: all 0.8s ease-in-out;
}

.services-item:hover {
    z-index: 1;
    transform: scale(1.1);
    height: 400px;
}

.services-item__image {
    height: 100%;
}

.services-item__image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.services-body .services-item .services-item__text {
    background-color: #f9f9f9;
    padding: 20px 50px;
}

.services-item__text-title {
    font-size: 22px;
    font-weight: 666;
    color: #454545;
}

.services-item__text-desc {
    font-size: 17px;
    color: #454545;
}


/* Map */
.map-container {
    display: flex;
    justify-content: center;
    height: 70vh;
}

.map, .contact{
    padding: 0;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: blur(1px); */
    background-image: url(../image/bg/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-form{
    display: block;
    background-color: #fff;
    width: 50%;
    padding: 20px 35px;
    border-radius: 20px;
    text-align: center;
}

.contact-form__title {
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form__input {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px 20px;
    font-size: 13px;
}

.contact-form__input:focus-visible {
    outline-color: var(--primary-color);
}

.contact-form__btn {
    margin: 10px 0;
    padding: 0 20px;
}


/* Footer */

.footer-container {
    padding: 50px;
    /* background-color: var(--fourth-color); */
    background-image: url(../image/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.footer {
    text-align: center;
    display: block;
}

.footer__logo {
    margin: 20px 0;
}

.footer__logo img{
    width: 200px;
    height: auto;
    object-fit: cover;
    margin: 20px;
}

.footer__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.footer__contact ion-icon {
    font-size: 20px;
}

.footer__contact-logo {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.footer__info {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.footer__desc {
    flex: 0 0 50%;
    min-width: 50%;
}

.footer__desc-left {
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid var(--second-color);
}

.footer__desc-right {
    text-align: left;
    padding-left: 20px;
}

.footer__copyright {
    font-size: 15px;
}

.footer__copyright a {
    color: var(--second-color);
}

.footer__copyright a:hover {
    opacity: 0.7;
}

/* Button go to home */

.UpBtn {
    z-index: 9;
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: normal;
    font-size: 20px;
    display: none;
    box-shadow: 0 0 50px var(--second-color);
}

.UpBtn ion-icon {
    text-align: center;
}